footer.footer
  .footer__logo
    a(href='/')
      img(src='/img/logo-green.png' alt='Natours logo')
  ul.footer__nav
    li: a(href='https://github.com/rishabh2140' target='_blank') GitHub
    li: a(href='https://www.linkedin.com/in/rishabh-chandrakar-09a13b289/' target='_blank') LinkedIn
    li: a(href='https://twitter.com/' target='_blank') Twitter
  p.footer__copyright &copy; by Rishabh Chandrakar. All rights reserved.